body {
    background: linear-gradient(135deg, #c7e1ea, #ddcba2);
    color: #333;
}

.container {
    background: rgba(255, 255, 255, 0.6);
    color: #333;
}

.input-section button, .theme-toggle {
    background-color: #ff9800;
    color: #fff;
}

.input-section button:hover, .theme-toggle:hover {
    background-color: #e68900;
}

.input-section input {
    background: #e2e9ea;
}

.error-message {
    color: #d8000c;
}

.weather-info h2 {
    color: #333;
}

.weather-info p {
    color: #555;
}
